body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
}

a {
  text-decoration: none;
}

#header, #hero-text, #footer {
  background-color: #1f2937 ;
}

.std-container {
  width: 1024px;
  margin: 0 auto;
}

.narrow-container {
  width: 820px;
  margin: 0 auto;
}

#header > .std-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-logo-text a {
  color: #f9faf8;
  font-size: 24px;
}

.header-link-text a {
  color: #e5e7eb;
  font-size: 18px;
}

#header > .std-container > ul {
  display: flex;
  margin: 0;
  padding: 0;
  gap: 16px;
}

#header ul {
  list-style: none;
  padding: 0;
}

#hero-text .std-container {
  padding: 100px 0 130px;
  display: flex;
}

#hero-text h1 {
  font-size: 48px;
  color: #f9faf8;
  font-weight: 900;
  margin: 0;
}

#hero-text p {
  font-size: 18px;
  color: #e5e7eb;
}

#hero-text .button {
  display: block;
  width: 130px;
  height: 35px;
  line-height: 35px;
  font-size: 18px;
  font-weight: 900;
  color: #e5e7eb;
  background-color: #3882f6;
  text-align: center;
  border-radius: 5px;
}

#info .narrow-container {
  padding: 50px 0 120px;
  display: flex;
  flex-direction: column;
}

#info h2 {
  margin: 0 auto;
  color: #1f2937;
  font-size: 36px;
  font-weight: 900;
}

#info .images-container {
  margin: 50px 0 0;
  display: flex;
  justify-content: space-between;
}

#info .images-container .image-wrapper {
  width: 170px;
}

#info .images-container .image-wrapper p {
  text-align: center;
}

#info .images-container .image-wrapper img {
  border: 5px solid #3882f6;
  border-radius: 20px;
}

#quote {
  background-color: #e5e7eb;
}

#quote .narrow-container {
  padding: 130px 0 100px;
  display: flex;
  flex-direction: column;
}

#quote .narrow-container p {
  margin: 0;
}

#quote .narrow-container .quote-author {
  align-self: flex-end;
  color: #1f2937;
  font-weight: 900;
  font-size: 24px;
}

#quote .narrow-container .quote-text {
  color: #1f2937;
  font-weight: lighter;
  font-style: italic;
  font-size: 36px;
}










#footer > .std-container {
  display: flex;
  justify-content: center;
}

#footer > .std-container > .footer-text {
  color: #f9faf8;
  font-size: 18px;
}
